---
layout: default
title: Utopía Pirata
---

<header class="utopia">
  <nav class="pull-right">
      <span class="glyphicon glyphicon-magnet"></span>
      <a href="{{ site.torrent.file }}">Descargá el sitio por torrent</a>
  </nav>

  <div class="page-header">
    <div class="media">
      <a class="pull-left" href="">
        <img src="assets/images/logo_sin_nombre_negro.png" />
      </a>
      <div class="media-body">
        <h1 class="media-heading">Utopía Pirata</h1>
      </div>
    </div>
  </div>
</header>

<section id="404">
  <h1>Error 404</h1>
  <h2>Lo que estás buscando no está más P(</h2>

  <p><a href="" class="btn btn-info btn-lg">Volver al principio</a></p>
</section>
