<!DOCTYPE html>
<html lang="{{ site.lang }}" prefix="og: http://ogp.me">
  <head>
    <base href="{{ page.url | base }}" />
    <meta charset="utf-8" />
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{ site.canonical }}{{ page.url }}" />
    <meta property="og:locale" content="{{ site.lang }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:article:published_time" content="{{ page.date }}" />
    <meta property="og:article:author" content="{{ page.author }}" />
    {% if page.cover %}
      <meta property="og:image" content="{{ site.canonical }}/{{ page.cover }}" />
    {% else %}
      <meta property="og:image" content="{{ site.canonical }}/assets/utopia_pirata_logo.png" />
    {% endif %}

    <link rel="shortcut icon" type="image/png" href="favicon.png" />

    <link type='text/css'
          rel="stylesheet"
          href="assets/fonts/stylesheet.css" />

    <link type='text/css'
          rel="stylesheet"
          href="assets/css/custom.css" />

    <link rel="alternate"
          type="application/atom+xml"
          title="{{ site.title }}"
          href="atom.xml" />

    <link rel="related" href="utopias.opds"
          type="application/atom+xml;profile=opds-catalog;kind=acquisition"
          title="Catálogo OPDS" />
	</head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
